.back {
    background-color: #161616;
}


.landing-page__r2 {
    margin-top: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.inputRows {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}