.back {
    background-color: #161616;
}


.landing-page__r2 {
    margin-top: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}


.profileHeader {
    @include carbon--type-style('expressive-heading-04', true);
}

.playerDataTable {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.heading {
    border-bottom: 1px solid $ui-03;
}