.back {
    background-color: #161616;
}


.landing-page__r2 {
    margin-top: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}


.profileHeader {
    @include carbon--type-style('expressive-heading-04', true);
}

.playerDataTable {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.heading {
    border-bottom: 1px solid $ui-03;
}


.errorMsg {
    @include carbon--type-style('productive-heading-04');
    background-color: #161616;
    color: #f4f4f4;
    width: 100%;
    height: 200px;
    text-align: center;
    margin-top: 20px;
}